* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  background-color: rgb(26, 26, 26);
  height: 60px;
  display: flex;
  align-items: center;
}
.name {
  color: rgb(255, 145, 0);
  text-shadow: -1px -2px 0 black, 1px -2px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 1px 10px 2px rgb(0, 0, 0);
  font-size: 3em;
  margin-left: 10px;
}
.title-nav {
  display: flex;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  background-image: url("../img/frame-6989670_1920.jpg");
  width: 100%;
}
.title-nav:hover {
  transition: all 3s;
}
.title-nav-items {
  margin-right: 40px;
}
.nav_text {
  color: rgb(255, 145, 0);
  text-shadow: -1px -2px 0 black, 1px -2px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 1px 10px 2px rgb(0, 0, 0);
  font-size: 2em;
}
.main-bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/smoke-2437886_1920.jpg");
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.03);
}
.main-slogan {
  font-size: 4em;
  margin-bottom: 1rem;
  color: rgb(255, 145, 0);
  text-shadow: -1px -2px 0 black, 1px -2px 0 black, -1px 1px 0 black,
    1px 1px 0 black, 1px 10px 2px rgb(0, 0, 0);
}
.main-slogan:hover {
  text-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
    0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
    0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.6em #f70, 0.06em -0.2em 1em #f50,
    0.1em -0.1em 1em;
  transition: all 2.5s;
}
.main-slogan-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 4rem;
}
.gearbox {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 75px;
}
.gear {
  width: 100px;
  height: 100px;
  position: relative;
  right: 78px;
  animation: gear_spin 10s linear infinite;
}
.gear:hover {
  transform: rotate(2880deg);
  transition: all 2.5s;
}
.gear2 {
  width: 50px;
  height: 50px;
  position: relative;
  top: 85px;
  right: 25px;
  animation: gear_spin 10s linear infinite;
}
.gear2:hover {
  transform: rotateY(45deg) rotateX(15deg) translate(42px, 18px) scale(1.5);
  transition: all 3s;
}
.gear3 {
  width: 150px;
  height: 150px;
  position: relative;
  animation: gear_spin 10s linear infinite;
}
.gear3:hover {
  transform: rotate(5760deg) skewY(10deg) skewX(10deg);
  transition: all 5s;
}
.gear4 {
  width: 150px;
  height: 150px;
  position: relative;
  left: 300px;
  top: 60px;
  animation: alt_spin 10s linear infinite;
}
.gear4:hover {
  transform: translate(150px) rotate(720deg);
  transition: 2.5s all;
}
@keyframes gear_spin {
  50% {
    rotate: 1440deg;
  }
}
@keyframes alt_spin {
  50% {
    rotate: 720deg;
  }
}
/* @media (max-width: 1200px) {
  .main-bg-image {
    margin-bottom: 2em;
  }
  .gearbox {
    padding: 2em 4em 0;
  }
}
@media (max-width: 992px) {
  .main-bg-image {
    margin-bottom: 2em;
  }
  .gearbox {
    padding: 2em 4em 0;
  }
}
@media (max-width: 768px) {
  .main-bg-image {
    margin-bottom: 2em;
  }
  .gearbox {
    padding: 2em 4em 0;
  }
}
@media (max-width: 576px) {
  .main-bg-image {
    margin-bottom: 2em;
  }
  .gearbox {
    padding: 2em 4em 0;
  }
} */
/* -----Contact Page----- */
.form_bg {
  width: 100%;
  height: 100vh;
  background-image: url("../img/steampunk-4601917_1920.jpg");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.form_container {
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid white;
  margin: 50px;
}
form {
  width: 400px;
  color: rgb(235, 228, 228);
  justify-content: center;
  align-items: center;
}
label {
  font-weight: bold;
  outline: 2px solid lightgrey;
  background-image: linear-gradient(
    66deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(210, 130, 48, 1) 100%
  );
  color: rgb(248, 195, 3);
  border-radius: 5px;
  padding: 4px;
}
input {
  margin: 10px;
}
textarea {
  margin: 20px;
}
.form_btn {
  width: 75px;
  height: 25px;
  background-image: linear-gradient(
    66deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(210, 130, 48, 1) 100%
  );
  border-radius: 5px;
  font-weight: bold;
  color: rgb(248, 195, 3);
  outline: 2px solid white;
}
.form_btn:hover {
  transform: scale(1.2);
  transition: all 1.5s;
}
/* @media (max-width: 1200px) {
  .form_bg {
    padding: 2em 4em 0;
    margin-bottom: 2em;
  }
}
@media (max-width: 992px) {
  .form_bg {
    padding: 2em 4em 0;
    margin-bottom: 2em;
  }
}
@media (max-width: 768px) {
  .form_bg {
    padding: 2em 4em 0;
    margin-bottom: 2em;
  }
}
@media (max-width: 576px) {
  .main-bg-image {
    margin-bottom: 2em;
  }
  .form_bg {
    padding: 2em 4em 0;
    margin-bottom: 2em;
  }
} */
